.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 430px;
  max-height: 330px;
  border-radius: 10px;
  padding: 36px 0;
}

@media screen and (max-width: 767px) {
  .modal {
    max-width: 282px;
  }
}
