.profile__image {
  border-radius: 50%;
  max-width: 120px;
  max-height: 120px;
}

.profile__image:hover {
  opacity: 20%;
  z-index: 3;
  background: rgba(0, 0, 0, 0.8);
  background-image: url("../../../images/icons/Edit-picture.svg");
}
