.modal__submit-btn {
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  padding: 13.65px 0;
  cursor: pointer;
  font-size: 1.12rem;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .modal__submit-btn {
    font-size: 0.87rem;
  }
}
