.profile__edit-picture {
  background-color: transparent;
  height: 100%;
  width: 120px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  border: none;
  background-image: url("../../../images/icons/Edit-picture.svg");
  background-position: center;
  background-repeat: no-repeat;
}
