.profile__about-me {
  color: #ffffff;
  font-size: 1.12rem;
  font-weight: 400;
  line-height: 1.22;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .profile__about-me {
    text-align: center;
    font-size: 0.87rem;
    line-height: 1.21;
  }
}
